@page "/boxowners/add"

@using flytt2021.Data

@inject NavigationManager NavigationManager
@inject MovingboxService service

<h3>Ny lådägare</h3>

<EditForm Model="boxOwner" OnValidSubmit="SaveBoxOwner">
    <div class="row"> 
        <div class="col-md-8">
            <div class="form-group">
                <label for="name" class="control-label">Namn</label>
                <InputText @bind-Value="@boxOwner.Name" class="form-control"></InputText>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Spara" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private BoxOwner boxOwner = new BoxOwner();

    private async void SaveBoxOwner()
    {
        await service.AddBoxOwnerAsync(boxOwner);
        NavigationManager.NavigateTo("");
    }
}
