@page "/packers/add"

@using flytt2021.Data

@inject NavigationManager NavigationManager
@inject MovingboxService service

<h3>Ny lådägare</h3>

<EditForm Model="packer" OnValidSubmit="SavePacker">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="name" class="control-label">Namn</label>
                <InputText @bind-Value="@packer.Name" class="form-control"></InputText>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Spara" />
            </div>
        </div>
    </div>
</EditForm>

@code {
    private Packer packer = new Packer();

    private async void SavePacker()
    {
        await service.AddPackerAsync(packer);
        NavigationManager.NavigateTo("");
    }
}
