@page "/boxes/added/{Id:int}"
@attribute [Authorize]

@using flytt2021.Data.Services
@using flytt2021.Data.Entities

@inject MovingboxService MovingboxService

<h3>Klart!</h3>

<div class="box-added">
    <p>Den nya lådan har nummer:</p>
    <div class="box-number @color">@Id</div>
    <div class="new-box-button">
        <form>
            <a href="/boxes/add" class="btn btn-primary">Ny Låda</a>
        </form>
    </div>

</div>

@code {
    [Parameter]
    public int Id { get; set; }
    public string color { get; set; } = "black";

    private Movingbox box;

    protected override async Task OnInitializedAsync()
    {
        box = await MovingboxService.GetMovingboxAsync(Id);
        switch (box.DestinationFloorEnum)
        {
            case FloorEnum.Basement:
                color = "green";
                break;
            case FloorEnum.Middle:
                color = "yellow";
                break;
            case FloorEnum.Upper:
                color = "red";
                break;
        }
    }
}
