@page "/boxes/added/{Id:int}"
@attribute [Authorize]

@using flytt2021.Data.Services
@using flytt2021.Data.Entities

@inject MovingboxService MovingboxService

@if (box == null)
{
    <span>Loading...</span>
}
else 
{
<h3>Klart!</h3>

<div class="box-added">
    <p>Den nya lådan har nummer:</p>
    <div class="box-number" style="background-color: @box.DestinationFloor.BackgroundColorcode; color: @box.DestinationFloor.Colorcode">@Id</div>
    <div class="new-box-button">
        <form>
            <a href="/boxes/add" class="btn btn-primary">Ny Låda</a>
        </form>
    </div>

</div>
}


@code {
    [Parameter]
    public int Id { get; set; }
    public string color { get; set; } = "black";

    private Movingbox box;

    protected override async Task OnInitializedAsync()
    {
        box = await MovingboxService.GetMovingboxAsync(Id);
    }
}
