@page "/"
@using flytt2021.Data.Services
@using flytt2021.Data.Database
@inject NavigationManager NavigationManager
@inject UserService UserService

<AuthorizeView>
    <Authorized>
        @if (FlyttUser == null)
        {
            <span>Loading...</span>
        }
        else
        {
            <div class="text-center">
                <p>
                    Hej, @FlyttUser.UserName!<br />
                    <br />
                    <div class="list-group">
                        @if (FlyttUser.MoveId != null)
                        {

                            <a href="boxes/add" class="list-group-item list-group-item-action">
                                <div class="menu-icon"><span class="oi oi-box"></span></div>
                                <div class="menu-item">
                                    <h4 class="list-group-item-heading">Ny flyttkartong</h4>
                                    <p class="list-group-item-text">L&auml;gg till en ny kartong.</p>
                                </div>
                            </a>
                            <a href="/boxes/list" class="list-group-item list-group-item-action">
                                <div class="menu-icon"><span class="oi oi-list"></span></div>
                                <div class="menu-item">
                                    <h4 class="list-group-item-heading">Visa flyttkartonger</h4>
                                    <p class="list-group-item-text">Visa eller s&ouml;k bland redan packade l&aring;dor.</p>
                                </div>
                            </a>
                            <a href="/settings" class="list-group-item list-group-item-action">
                                <div class="menu-icon"><span class="oi oi-cog"></span></div>
                                <div class="menu-item">
                                    <h4 class="list-group-item-heading">Inställningar</h4>
                                    <p class="list-group-item-text">Ändra inställningarna för din flytt.</p>
                                </div>
                            </a>
                        }
                        else
                        {
                    <a href="move/add" class="list-group-item list-group-item-action">
                        <div class="menu-icon"><span class="oi oi-home"></span></div>
                        <div class="menu-item">
                            <h4 class="list-group-item-heading">Skapa en ny flytt</h4>
                            <p class="list-group-item-text">L&auml;gg till en ny flytt.</p>
                        </div>
                    </a>
                        }

                    </div>
                </p>

                <form method="post" action="Identity/Account/LogOut">
                    <button type="submit" class="btn btn-primary">Log out</button>
                </form>
            </div>
        }

    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login" class="btn btn-primary">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code{
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    public FlyttUser FlyttUser;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("Identity/Account/Login");
        }
        FlyttUser = UserService.GetUser(user.Identity.Name);
    }

}