@page "/"
@inject NavigationManager NavigationManager

<AuthorizeView>
    <Authorized>
        <div class="text-center">
            <p>
                Hello, @context.User.Identity.Name!<br />
                <br />
                <br />
                <a href="/boxes/list" class="btn btn-primary">Visa l&aring;dor</a>
                <br />
                <br />
                <a href="/boxes/add" class="btn btn-primary">Ny l&aring;da</a>
                <br />
                <br />
                <a href="/boxowners/add" class="btn btn-primary">Ny l&aring;d&auml;gare</a>
                <br />
                <br />
                <br />
                <br />
                <a href="Identity/Account/LogOut" class="btn btn-primary">Logga ut</a>
            </p>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login" class="btn btn-primary">Log in</a>
    </NotAuthorized>
</AuthorizeView>


@code{
    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var user = (await AuthStat).User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("Identity/Account/Login");
        }
    }

}